#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu-bar {
  max-width: 1024px;
  background-color: #010101;
  
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-radius: 5px;

  /* position: absolute; */
}


.left-nav-bar a {
  text-decoration: none;
  font-size: 16px;
  color: aliceblue;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;

  margin: auto 14px;

}


.center-nav-bar a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: aliceblue;
  font-weight: 600;
  margin: auto 14px;

  
}

.mouse-transition a:hover { 
  transition: color 0.2s ease-in-out;
  color: rgba(215, 26, 26, 0.687);
}

.mouse-transition-special a:hover {
  transition: color 0.2s ease-in-out;
  color: rgba(215, 26, 26, 0.687);
  border: 2px solid rgba(215, 26, 26, 0.687);
}


.right-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.right-nav-bar a {
  text-decoration: none;
  color: aliceblue;

  border: 2px solid white;
  border-radius: 50%;
  padding: 9px;
  margin: auto 8px;
  
  display: flex;
  justify-content: center; 
  align-items: center;
  
}

.bio-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;

  margin: 30px auto;
}

.bio-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.text-container {
  text-align: left;
  color: black;
}

.text-container h1 {
  font-size: 65px;
  text-transform: uppercase;
  line-height: 8px;
}

.text-container h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 10px;
}

.text-container a {
  text-decoration: none;
  color: #010101;
  border: 2px solid black;
  font-size: 17px;
  text-transform: uppercase;
}











/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
