.container-menu{
    background-color: var(--bg-secondary);
    max-width: 1320px;
    width: 100%;
    height: 70px;
    padding: 0 15px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-bar a{
        color: var(--text-primary);
        text-decoration: none;
        padding: 5px;
    }
}