.container-menu{
    background-color: var(--bg-secondary);
    max-width: 1320px;
    width: 100%;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}