.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;

    grid-area: experience;

    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-secondary);
        text-align: center;
    }

    .experience-time {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }

    .experience-representation {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;


        img {
            filter: grayscale(100%);
        }

        .timeMeasure-bar {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            width: 300px;
            height: 30px;
            border-radius: 24px;
            border: 1px solid var(--text-secondary);



            .time-measure {
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 24px;
                height: 30px;
                border: 2px solid linear-gradient(90deg, #292b68 2.62%, #8f0606 93.38%);
                background: linear-gradient(90deg, #292b68 2.62%, #8f0606 93.38%);

                color: var(--text-primary);
                font-weight: 300;
                text-align: center;
                font-size: 12px;

                &.measure-1 {
                    width: 200px;
                }

                &.measure-2 {
                    width: 50px;
                }

                &.measure-3 {
                    width: 60px;
                }

                &.measure-4 {
                    width: 40px;
                }
            }

        }
    }


    @media (min-width: 768px) {
        align-items: flex-start;

        p {
            font-size: 24px;
            line-height: 36px;
            text-align: start;
        }
    }

}